.footer-box {
  position: relative;

  .footer-box-item{
    position: relative;

    .footer-text {
      position: absolute;
      top: 50%;
      left: 25%;
  
      h4 {
        width: 350px;
        text-align: left;
        font-size: 32px;
        font-family: PingFang TC;
        letter-spacing: 0px;
        color: #8D8D8D;
        opacity: 1;
      }
  
      .footer-mail {
        background-color: #916000;
        border: 2px solid #916000;
        border-radius: 0px 4px 4px 0px;
        opacity: 1;
        width: 350px;
  
        input {
          width: 219px;
          text-align: center;
          font-size: 16;
          font-family: pxSF Pro Text;
          letter-spacing: 0px;
          color: #8D8D8D;
          opacity: 1;
          border: 0;
          padding: 12px 26px;
          border-radius: 4px;
        }
  
        a {
          padding: 13px 30px;
          font-size: 16px;
          font-family: pxSF Pro Text;
          color: #FFFFFF;
          text-decoration: none;
          
          &:hover{
            background: #6C4700 0% 0% no-repeat;
            color: #FFFFFF;
            cursor: pointer;
          }
  
        }
  
        &:hover{
          background: #6C4700 0% 0% no-repeat padding-box;
        }
      }
    }

  }

  

  .footer-navbar {
    width: 100%;
    padding: initial !important;
    background-color: #916000;

    .footer-navbar-item {
      width: 1110px;
      margin: 0 auto;
      display: flex;

      .footer-navbar-logo {
        width: 533px;
        padding: 9px 0;
        display: flex;
        p{
            text-align: left;
            font-size: 14px;
            font-family: SF Pro Text;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
            margin-bottom: initial !important;
            padding-left: 20px;
            line-height: 3;
            display: inline-block;
        }
      }
    }

    .footer-navbar-nav {
      width: 577px;
      justify-content: flex-end;
      display: flex;
      margin: initial !important;

      .footer-nav-item {
        padding: 0 16px;
        text-align: left;
        display: flex;

        a {
          display: flex;
          line-height: 1.5;
          align-items: center;
          font-size: 18px;
          color:#FFFFFF;
          opacity: 1;
          text-decoration: none;
        }
      }
    }
  }
}
