.home-container {
  width: 100%;
  height: 870px;
  background-image: url("~@/assets/home/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (max-width: 414px) {
    max-height: 480px;
  }

  &.d-flex {
    align-items: center;
    justify-content: center;
  }

  .text-block {
    color: white;

    h4 {
      font-size: 40px;
      font-weight: bold;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
      font-family: SF Pro Text;

      @media screen and (max-width: 414px) {
        font-size: 32px;
      }
    }

    p {
      width: 445px;
      font-size: 24px;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
      text-align: left;
      font-family: SF Pro Text;

      @media screen and (max-width: 414px) {
        width: 384px;
        font-size: 20px;
      }
      @media screen and (max-width: 375px) {
        width: 345px;
      }
    }

    .btn {
      font-size: 25px;
      font-family: SF Pro Text;

      &.default {
        width: 350px;
        border: 2px solid;
        color: #ffffff;
        border-radius: 30px;
        padding: 10px 0;
        @media screen and (max-width: 414px) {
          width: 345px;
          margin-left: 20px;
        }
        @media screen and (max-width: 375px) {
          margin-left: 0;
        }

        &:hover {
          background: #ffffff4d 0% 0% no-repeat padding-box;
        }
      }
    }
  }
}

.home-banner {
  margin-top: 60px;
  margin-bottom: 60px;

  .home-item {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    @media screen and (max-width: 1024px) {
      width: 902px;
      img {
        width: 451px;
      }
    }
    @media screen and (max-width: 768px) {
      width: 746px;
      img {
        width: 373px;
      }
    }
    @media screen and (max-width: 414px) {
      width: 384px;
      flex-direction: column-reverse;
      img {
        width: 384px;
      }
    }
    @media screen and (max-width: 375px) {
      width: 345px;
      img {
        width: 345px;
      }
    }

    .home-box-text {
      width: 555px;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @media screen and (max-width: 414px) {
        width: 384px;
        margin: 0 auto;
      }
      @media screen and (max-width: 375px) {
        width: 345px;
      }

      .home-text{
        width: 335px;

        h4 {
          font-size: 32px;
          font-family: SF Pro Text;
  
          @media screen and (max-width: 414px) {
            padding-top: 8px;
          }
        }
  
        p {
          font-size: 18px;
          font-weight: 300;
          line-height: 1.5;
          font-family: PingFang TC;
        }
  
        a {
          letter-spacing: 0px;
          color: #ac8a46;
          opacity: 1;
          font-size: 14px;
          font-weight: 600;
  
          @media screen and (max-width: 414px) {
            font-size: 16px;
            margin-bottom: 32px;
            display: inline-block;
          }
        }

        &.animated{
          opacity: 0;
          transition: all 2s;
          transition-delay: .5s;
          transform: translateY(50px);

          &.fadeIn {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
    .animated-img{
      opacity: 0;
      transition: all 2s;
      transform: translateY(50px);

      &.fadeIn-img {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  .home-item {
    &.home-item-reverse {
      @media screen and (max-width: 414px) {
        display: table;
        flex-direction: column-reverse;
        img {
          width: 384px;
        }
      }
      @media screen and (max-width: 375px) {
        width: 345px;
        img {
          width: 345px;
        }
      }
    }
    .home-box-text2 {
      width: 555px;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 414px) {
        width: 384px;
        margin: 0 auto;
      }
      @media screen and (max-width: 375px) {
        width: 345px;
      }

      .home-text{
        width: 335px;

        h4 {
          font-size: 32px;
          font-family: SF Pro Text;
        }
  
        p {
          font-size: 18px;
          font-weight: 300;
          line-height: 1.5;
          font-family: PingFang TC;
        }
  
        a {
          letter-spacing: 0px;
          color: #ac8a46;
          opacity: 1;
          font-size: 14px;
          font-weight: 600;
  
          @media screen and (max-width: 414px) {
            font-size: 16px;
            margin-bottom: 32px;
            display: inline-block;
          }
        }

        &.animated{
          opacity: 0;
          transition: all 2s;
          transition-delay: .5s;
          transform: translateY(50px);

          &.fadeIn {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
  .home-item {
    .home-box-text3 {
      width: 555px;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @media screen and (max-width: 414px) {
        width: 384px;
        margin: 0 auto;
      }
      @media screen and (max-width: 375px) {
        width: 345px;
      }

      .home-text{
        width: 335px;

        h4 {
          font-size: 24px;
          letter-spacing: 0px;
          color: #000000;
          opacity: 1;
          padding-top: 52px;
          font-family: SF Pro Text;
          @media screen and (max-width: 1024px) {
            padding-top: 20px;
          }
          @media screen and (max-width: 414px) {
            padding-top: 8px;
            font-weight: 600;
          }
        }
  
        p {
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0px;
          color: #000000;
          opacity: 1;
          font-family: SF Pro Text;
        }

        &.animated{
          opacity: 0;
          transition: all 2s;
          transition-delay: .5s;
          transform: translateY(50px);

          &.fadeIn {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }

    .btn-box{
      width: 100%;
      display: flex;
      justify-content: center;

      .btn {
        font-size: 20px;
        margin-top: 60px;
        font-family: SF Pro Text;
        @media screen and (max-width: 768px) {
          margin-top: 20px;
        }
  
        &.default {
          width: 350px;
          border: 2px solid #000000;
          border-radius: 30px;
          opacity: 1;
          padding: 13px 0;
          @media screen and (max-width: 414px) {
            margin-left: 15px;
          }
          @media screen and (max-width: 375px) {
            margin: 0 auto;
          }
  
          &:hover {
            background: #0000000d 0% 0% no-repeat padding-box;
          }
        }

        >a {
          text-decoration: none;
          color:#000000;
          padding:20px 65px;
        }
      }
    }
    
  }
}

.home-products {
  background-color: #e0e0e0;

  .home-item-box {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    padding: 40px 0;
    @media screen and (max-width: 1024px) {
      width: 902px;
    }
    @media screen and (max-width: 768px) {
      width: 746px;
    }
    @media screen and (max-width: 414px) {
      width: 385px;
      flex-direction: column;
    }
    @media screen and (max-width: 414px) {
      width: 375px;
    }

    .home-products-item {
      padding-top: 25px;
      padding-bottom: 25px;
      padding: 15px;
      @media screen and (max-width: 414px) {
        margin: 0 auto;
        padding: 16px 0;
      }

      .home-willlike {
        position: relative;

        .glass {
          top: 0;
          width: 350px;
          position: absolute;
          transition: all 0.3s;
          background-color: rgba(0, 0, 0, 0);
          height: 500px;
          @media screen and (max-width: 1024px) {
            width: 270px;
            height: 400px;
          }
          @media screen and (max-width: 768px) {
            width: 220px;
            height: 300px;
          }

          span {
            color: transparent;
            transition: all 0.3s;
            line-height: 500px;
            font-size: 20px;
            font-weight: bold;
            @media screen and (max-width: 1024px) {
              line-height: 400px;
            }
            @media screen and (max-width: 768px) {
              line-height: 300px;
            }
          }
        }
        &:hover {
          text-decoration: none;
          .glass {
            background-color: rgba(144, 142, 142, 0.6);
            span {
              color: #ffffff;
            }
          }
        }

        img {
          width: 350px;
          height: 500px;
          @media screen and (max-width: 1024px) {
            width: 270px;
            height: 400px;
          }
          @media screen and (max-width: 768px) {
            width: 220px;
            height: 300px;
          }
        }
      }

      .d-flex{
        >del{
          color:#8D8D8D;
        }
      }
    }

    h4 {
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
      padding: 4px 0;
      font-family: SF Pro Text;
    }

    p {
      padding-bottom: 3px;
      font-size: 16px;
      font-weight: 300;
      font-family: SF Pro Text;
    }

    td {
      padding-right: 8px;
      font-size: 16px;
      font-weight: 300;
      font-family: SF Pro Text;
    }

    &.animated-img{
      opacity: 0;
      transition: all 2s;
      transform: translateY(50px);

      &.fadeIn-img {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.home-bottle {
  .home-bottle-box {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1024px) {
      width: 902px;
    }
    @media screen and (max-width: 768px) {
      width: 746px;
    }
    @media screen and (max-width: 414px) {
      width: 385px;
      flex-direction: column;
    }
    @media screen and (max-width: 375px) {
      width: 375px;
    }

    img {
      padding: 60px 0;
      @media screen and (max-width: 1024px) {
        width: 600px;
      }
      @media screen and (max-width: 768px) {
        width: 400px;
      }
      @media screen and (max-width: 414px) {
        width: 385px;
        padding: 40px 0 8px;
      }
      @media screen and (max-width: 375px) {
        width: 345px;
      }
    }

    .home-bottle-text {
      padding-left: 30px;
      @media screen and (max-width: 1024px) {
        width: 380px;
      }
      @media screen and (max-width: 414px) {
        padding: inherit;
      }
      @media screen and (max-width: 375px) {
        width: 345px;
      }

      h4 {
        text-align: left;
        font-size: 32px;
        font-family: SF Pro Text;
        font-weight: bold;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
      }

      p {
        font-size: 20px;
      }

      i {
        display: block;
        font-size: 16px;
      }

      a {
        color: #ac8a46;
        display: block;
        font-size: 16px;
        margin-top: 16px;
        @media screen and (max-width: 414px) {
          margin-bottom: 32px;
          display: inline-block;
        }
      }
    }

    &.animated-img{
      opacity: 0;
      transition: all 2s;
      transform: translateY(40px);

      &.fadeIn-img {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
