.single-box {
  width: 100%;
  padding-top: 75px;
  padding-bottom: 60px;
  @media screen and (max-width: 414px) {
    padding-top: 40px;
  }

  .single-item {
    display: flex;
    width: 1110px;
    margin: 0 auto;
    @media screen and (max-width: 414px) {
      flex-wrap: wrap;
      width: 385px;
    }

    .single-img {
      width: 760px;
      @media screen and (max-width: 414px) {
        width: 385px;
      }

      .single-img-nav {
        padding-bottom: 30px;

        img {
          width: 730px;
          @media screen and (max-width: 414px) {
            width: 385px;
          }
        }
      }

      .single-img-nav2 {
        display: flex;
        @media screen and (max-width: 414px) {
          display: none;
        }

        img {
          width: 350px;
          margin-right: 30px;
        }
      }
    }

    .single-nav {
      width: 350px;
      @media screen and (max-width: 414px) {
        width: 385px;
      }

      h3 {
        text-align: left;
        font-size: 32px;
        font-weight: bold;
        font-family: SF Pro Text;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
      }

      pre {
        overflow-y: hidden;
        line-height: 1.5;
        white-space: pre-wrap;
        word-wrap: break-word;
        font-family: "Dosis", "Noto Sans TC", sans-serif;
        font-size: 20px;
        font-weight: 300;
        font-family: PingFang TC;
      }

      p {
        text-align: left;
        font-size: 20px;
        font-weight: 300;
        font-family: PingFang TC;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
      }

      .single-num {
        display: flex;

        .form-control {
          background: #ffffff 0% 0% no-repeat padding-box;
          border: 1px solid #916000;
          border-radius: 4px 0px 0px 4px;
          opacity: 1;
          height: 50px;
          width: 160px;
          @media screen and (max-width: 414px) {
            width: 180px;
          }
        }

        .btn {
          background: #916000 padding-box;
          border: 2px solid #916000;
          border-radius: 0px 4px 4px 0px;
          opacity: 1;
          width: 190px;
          color: #ffffff;
          @media screen and (max-width: 414px) {
            width: 205px;
          }
        }
      }

      .single-heart {
        padding-bottom: 83px;
        @media screen and (max-width: 414px) {
          padding-bottom: 40px;
        }

        a {
          text-align: right;
          font-size: 21px;
          font-family: PingFang TC;
          letter-spacing: 0px;
          color: #000000;
          opacity: 1;
          text-decoration: none;
          line-height: 2;
        }
        .fas {
          color: #916019;
          opacity: 1;
        }
      }

      .single-native {
        pre {
          overflow-y: hidden;
          line-height: 1.5;
          white-space: pre-wrap;
          word-wrap: break-word;
          font-family: "Dosis", "Noto Sans TC", sans-serif;
          font-size: 16px;
        }

        h5 {
          text-align: left;
          font-size: 24px;
          font-weight: 600;
          font-family: SF Pro Text;
          letter-spacing: 0px;
          color: #000000;
          opacity: 1;
        }
        p {
          text-align: left;
          font-size: 16px;
          font-weight: 300;
          font-family: PingFang TC;
          letter-spacing: 0px;
          color: #000000;
          opacity: 1;
          padding-bottom: 20px;
        }
      }
    }

    .single-img-nav3 {
      display: none;
      @media screen and (max-width: 414px) {
        display: block;
      }
      img {
        @media screen and (max-width: 414px) {
          width: 385px;
          padding-bottom: 16px;
        }
      }
    }
  }
}
