.login{
    width: 100%;

    .login-box{
        display: flex;
        width: 1110px;
        margin: 0 auto;
        padding: 82px 0;

        .login-img{
            width: 730px;

            img{
                width: 730px;
            }
        }

        .wrap{
            width: 350px;
            background: rgb(255,255,255);
            margin: 240px auto;
            border-radius: 5px;
        }
        h3{
            text-align: left;
            font-size: 32px;
            font-family: SF Pro Text;
            font-weight: bold;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
        }
        .form{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            label{
                margin-bottom: 5px;
                font-size: 16px;
            }
            input[type=email], input[type=password], input[type=text]{
                height: 38px;
                width: 100%;
                border: 1px solid rgb(200,200,200);
                border-radius: 3px;
                padding: 3px 5px;
                margin-bottom: 10px;
                &:focus{
                    outline: none;
                    border: 1px solid rgb(85,210,220);
                    box-shadow: 0 0 0 1px rgb(85,210,220) inset;
                }
            }
            .password-wrap{
                position: relative;
                width: 100%;
                display: flex;
                align-items: center;

                img{
                    position: absolute;
                    width: 20px;
                    right: 7px;
                    top: 8px;
                    display: block;
                    cursor: pointer;

                }
            }
            .reply, .reply-in{
               width: 100%;
            }
            button[type=submit]{
                float: right;
                font-size: 16px;
                display: block;
                padding: 8px 16px;
                border: 1px solid #916000;
                border-radius: 4px;
                margin-top: 5px;
                background: #916000;
                color: #ffffff;
                &:hover{
                    background: #624201;
                }
                &:focus{
                    outline: none;
                }
            }
        }
        // .login-content{

        //     h4{
        //         text-align: left;
        //         font-size: 32px;
        //         font-weight: bold;
        //         font-family: SF Pro Text;
        //         letter-spacing: 0px;
        //         color: #000000;
        //         opacity: 1;
        //     }

        //     h5{
        //         text-align: left;
        //         font-size: 16px;
        //         font-family: PingFang TC;
        //         letter-spacing: 0px;
        //         color: #212529;
        //         opacity: 1;
        //     }

        //     .btn-style1{
        //         padding: 8px 16px !important;
        //         background: #FFFFFF 0% 0% no-repeat padding-box;
        //         border: 1px solid #916000;
        //         opacity: 1;
        //         color: #916000;
        //         font-size: 16px;
        //         font-family: PingFang TC;
        //     }

        //     .btn-style2{
        //         padding: 8px 16px !important;
        //         background: #916000 0% 0% no-repeat padding-box;
        //         border: 1px solid #916000;
        //         border-radius: 4px;
        //         opacity: 1;
        //         color: #ffffff;
        //         font-size: 16px;
        //         font-family: PingFang TC;
        //         margin-left: 8px;
        //     }
        // }
    }
}