.footer-box {
  position: absolute;
  width: 100%;
  bottom: 0;

  .footer-navbar {
    width: 100%;
    padding: initial !important;
    background-color: #916000;

    .footer-navbar-item {
      width: 1110px;
      margin: 0 auto;
      display: flex;
      @media screen and (max-width: 1024px) {
        width: 902px;
      }
      @media screen and (max-width: 768px) {
        width: 746px;
      }
      @media screen and (max-width: 414px) {
        width: 414px;
      }
      @media screen and (max-width: 375px) {
        width: 375px;
      }

      .footer-navbar-logo {
        width: 533px;
        padding: 9px 0;
        display: flex;

        @media screen and (max-width: 414px) {
          margin: 0 auto;
          width: 385px;
          justify-content: space-between;
        }
        @media screen and (max-width: 375px) {
          width: 345px;
        }
        p {
          text-align: left;
          font-size: 14px;
          font-family: SF Pro Text;
          letter-spacing: 0px;
          color: #ffffff;
          opacity: 1;
          margin-bottom: initial !important;
          padding-left: 20px;
          line-height: 3;
          display: inline-block;

          @media screen and (max-width: 414px) {
            float: right;
          }
        }
      }
    }

    .footer-navbar-nav {
      width: 577px;
      justify-content: flex-end;
      display: flex;
      margin: initial !important;
      @media screen and (max-width: 414px) {
        display: none;
      }

      .footer-nav-item {
        padding: 0 16px;
        text-align: left;
        display: flex;

        a {
          display: flex;
          line-height: 1.5;
          align-items: center;
          font-size: 18px;
          color: #ffffff;
          opacity: 1;
          text-decoration: none;
        }
      }
    }
  }
}
