.setting {
    background-color: #FFFFFF;
    position: fixed !important;
    width: 100%;
    padding: initial !important;
    margin: 0 auto;
    top: 0;
    z-index: 100;

    .setting-items{
        width: 1110px;
        margin: 0 auto;
        display: flex;

        .setting-logo{
            width: 400px;
            padding: 9px 0;

        }
    }

        .setting-nav{
            width: 710px;
            justify-content: flex-end;
            display: flex;

            .nav-item{
                padding: 0 12px;
                text-align: left;
                display: flex;

                a{
                    display: flex;
                    line-height: 1.5;
                    align-items: center;
                    font-size: 16px;
                    color: #8D8D8D;
                    opacity: 1;
                    text-decoration: none;

                    .fas{
                        padding-right: 3px;
                    }
                }
            }
        }
}